{% extends "network/layout.html" %}
{% load static %}
{% block body %}


<h1>All Post</h1>

<div class="Pages">
    <h4 style="text-align: right;">Page Number: {{page_obj.number}}</h4>

    
      {% if page_obj.has_previous %}

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ page_obj.previous_page_number }}">Previous Page</a></li>
        </ul>
      </nav>
     
      {% endif %}
    
      {% if page_obj.has_next %}

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ page_obj.next_page_number }}">Next Page</a></li>
        </ul>
      </nav>
     
      {% endif %}
</div> 

{% for post in page_obj %}




<div class="posts">

        <p> <a href="{% url 'profile' post.creator.username  %}">{{post.creator}}</p></a>
        <p id="pre"> {{post.Description}}</p>
        <p>{{post.timestamp}}</p>
        

        {% if request.user == post.creator %}
        <a href="{% url 'edit' post.id %}"> <button id="edit">edit</button></a>
        {% endif %}
          
        <p id="like-count -{{post.id}}">Likes :{{post.liked_by.count}}</p>

        {% if user.is_authenticated %} 
        <div id="unlike-view-{{post.id}}" style="display: {% if user in post.liked_by.all %} block {% else %} none {% endif %}">
            <button class="btn btn-primary"  value="Unlike" onclick="like_post({{post.id}})" class="likeunlike" id="unlike-{{post.id}}">Unlike</button>
        </div>


        <div id="like-view-{{post.id}}" style="display: {% if user in post.liked_by.all %} none {% else %} block {% endif %}">
            <button class="btn btn-primary" value="like" onclick="like_post({{post.id}})" class="likeunlike" id="like-{{post.id}}">like</button>
        </div>

        {% endif %}
    
</div>

{% endfor%}

    
{% endblock %}

{% block script %}

<script src="{% static 'network/like.js' %}"></script>

{% endblock %}


